.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
    background-color: #3498db; /* Choose a color of your preference */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }